body{
    margin: 0;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
}
/* Top Banner */
.top-banner{
    display: flex;
    justify-content: space-between;
    font-size: 0.8em;
}

/* Left part of Top Banner */
.top-banner-left{
    display: flex;
    align-items: center;
    padding-left: 25px;
}
.top-banner-left p{
    padding: 0 15px 0 15px;
}

/* Header */
.header{
    background-color: #8209d0;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Left part of Header */
.header > .header-left {
    display: flex;
    align-items: center;
}

/* nav-bar links */
.nav-bar a {
    color: #ffffff;
    text-decoration: none;
    padding: 0 10px 5px 10px;
    transition-duration: 0.1s;
}
.nav-bar a:hover {
    border-bottom: 5px solid white;
}

/* nav-bar logo */
.header > .header-left img{
    width: 200px;
    padding: 0 75px 0 70px;
}

/* Right part of Header */
.header-right {
    padding-right: 150px;
}
.contract-link {
    color: #ffffff;
    text-decoration: none;
    padding: 10px;
    border: 3px #c26cdf solid;
    border-radius: 10px;
    transition-duration: 0.3s;
}
.contract-link:hover {
    background-color: #c26cdf;
}