h1 {
    text-align: center;
    font-size: 3em;
}
.about-p-container {
    padding-left: 200px;
    text-align: justify;

    opacity: 0;
    transform: translateX(-200px);
    transition: 1s;
}
.about-p-container2 {
    display: flex;
    justify-content: right;

    text-align: justify;
    padding-right: 200px;

    opacity: 0;
    transform: translateX(200px);
    transition: 1s;
}

.show {
    transform: translateX(0);
    transform: translateY(0);
    opacity: 1;
}

@media only screen and (max-width: 768px) {
    
}