/* intro section */
.bg-img {
    background-image: url(intro_img.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 570px;
    width: 100%;
}

.bg-txt {
    color: #ffffff;
    font-size: 1.7em;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    text-align: center;
}

.contract-link2 {
    background-color: #9847ce;

    position: relative;
    top: 50px;

    color: #ffffff;
    text-decoration: none;
    font-size: 0.8em;

    padding: 15px 25px 15px 25px;
    border-radius: 50px;
    opacity: 0;
    transition: 2s;
}

.contract-link2:hover {
    background-color: #8209d0;
    color: #ffffff;
}

.services_container {
    background-color: #ffffff;
    height: 400px;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-around;

    color: #3b3c36;
    transform: translateY(100px);

    opacity: 0;
    transition: 1s;
}

.services-container-sub {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 250px;
    width: 25%;
    padding: 10px;

    border: #8209d0 3px solid;
    border-radius: 20px;
    box-shadow: black 3px 3px 6px;
}

.service-image img {
    height: 100px;
    border-radius: 20px;
    border-radius: 50%;
}

.service-text {
    text-align: center;
}

.service-h1 {
    color: #3b3c36;
    margin: 0;
}

.learn-service {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
}

.about-section {
    height: 400px;
    width: 80%;

    display: flex;
    /* align-items: center; */
    justify-content: space-between;

    padding-top: 40px;
    padding-left: 100px;
    transform: translateX(-200px);

    opacity: 0;
    transition: 1s;
}

.service-section {
    height: 400px;
    width: 80%;

    display: flex;
    /* align-items: center; */
    justify-content: space-between;

    padding-top: 40px;
    padding-left: 100px;
    transform: translateY(200px);
    
    opacity: 0;
    transition: 1s;
}

.btm-section {
    width: 300px;
    height: 90%;
    padding-left: 50px;
    padding-right: 50px;
}

.show {
    transform: translateX(0);
    transform: translateY(0);
    opacity: 1;
}

@media only screen and (max-width: 768px) {
    .service-image img {
        width: 80px;
        height: auto;
        /* visibility: hidden; */
    }

    .services-container {
        height: 400px;
        flex-direction: column;
        padding: 170px 0 120px 0;
    }

    .services-container-sub {
        padding: 20px;
        width: 50%;
        margin-top: 30px;
    }
}