/* intro section */
.bg-img {
    background-image: url(intro_img.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 570px;
    width: 100%;
}
.bg-txt {
    color: #ffffff;
    font-size: 1.7em;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    text-align: center;
}

.contract-link2 {
    background-color: #9847ce;
    color: #ffffff;
    text-decoration: none;
    font-size: 0.8em;

    padding: 15px 25px 15px 25px;
    border-radius: 50px;
    transition-duration: 0.3s;
}
.contract-link2:hover {
    background-color: #8209d0;
    color: #ffffff;
}

.intro-shader {
    background-color: black;
    opacity: 0.3;
    height: 570px;
    margin-top: -570px;
}

.services-container {
    background-color: #ffffff;
    height: 400px;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-around;

    color: #3b3c36;
}

.services-container-sub {
    display: flex;
    align-items: center;
    justify-content: center;
    
    height: 250px;
    width: 25%;
    padding: 10px;

    border: #8209d0 3px solid;
    border-radius: 20px;
    box-shadow: black 3px 3px 6px;
}
.service-image img {
    height: 100px;
    border-radius: 20px;
    border-radius: 50%;
}
.service-text {
    text-align: center;
}

.service-h1 {
    color: #3b3c36;
    margin: 0;
}

.service-one p, .service-two p, .service-three p {
    padding-bottom: 20px;
}

.service-one {
    height: 500px;
    background-color: #ffffff;

    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    padding-top: 40px;
}

.service-two {
    height: 500px;
    background-color: #ffffff;
    
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    padding-top: 40px;
}

.service-three {
    height: 500px;
    background-color: #ffffff;
    
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    padding-top: 40px;
}
.service-left {
    width: 50%;
    padding-left: 100px;
    padding-right: 50px;
}
.service-right1 {
    padding-right: 100px;
    padding-left: 50px;
    
}
.service-right2 {
    padding-right: 100px;
    width: 60%;
    padding-left: 50px;
}

.wd-img-1 {
    margin-right: 100px;
    width: 300px;
    height: 300px;
    position: relative;
    background-image: url(code.jpg);
    border-radius: 60px;
}
.wd-img-2 {
    width: 50%;
    position: absolute;

    top: 60%;
    left: -20%;
    transition-duration: 2s;
}
.wd-img-2:hover, .wd-img-3:hover {
    rotate: 10deg;
}
.wd-img-3 {
    width: 80%;
    position: absolute;

    top: 40%;
    left: 50%;
    transition-duration: 1s;
}

.SEO-img {
    height: 400px;
    border-radius: 40px 100px 40px 100px;
}
.PA-img {
    height: 400px;
    width: auto;
    border-radius: 50%;
}

.learn-service {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
}